.a{
    background: #f9f9ff;
    margin: 2px;
    padding: 10px 15px;
    width: 50px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    color: black;
}
.a:hover{
    background-color: red;
    color: white;
}